.header {
  background-color: #00265a;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 800px;
  margin: 20px 0px 20px 0px;
}

.headerList {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerListItem {
  display: flex;
  gap: 40px;
  cursor: pointer;
  padding: 5px 15px;
  background-color: #3d91ff;
}

.headerSearch {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 3px solid #3d91ff;
  border-radius: 10px;
  width: 100%;
  max-width: 1024px;
  position: relative;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  color: #00265a;
}

.headerSearchInput {
  color: #00265a;
  border: none;
  outline: none;
}

.headerSearchText {
  color: #00265a;
  cursor: pointer;
}

.headerSearchButton {
  padding: 10px 15px;
  border: none;
  background-color: #3d91ff;
  color: white;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.Options {
  position: absolute;
  top: 50px;
  background-color: white;
  padding: 10px;
  color: #00265a;
  z-index: 2;
}

.OptionItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.PlusMinusContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}

.IncreaseDecrease {
  border: none;
  background-color: #3d91ff;
  color: white;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.IncreaseDecrease:disabled {
  cursor: not-allowed;
}
